.App {
}

.addTodolistForm {
  margin: 20px 0 50px 0;
}

.todolist {
  height: max-content;
  padding: 10px;
  margin-top: 10px
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

